@model Post


<div class="container w-75 mx-auto">
    <h2 class="text-center">New Post</h2>

    <form class="shadow p-3 rounded" asp-controller="Post" asp-action="Create" method="POST">
        <div class="mb-3">
            <label asp-for="Title"></label>
            <span asp-validation-for="Title" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="Title">
        </div>

        <div class="mb-3">
            <label asp-for="GameActivity"></label>
            <span asp-validation-for="GameActivity" class="text-danger font-weight-bold"></span>
            <select class="form-control" asp-for="GameActivity">
                @{
                    foreach (GameActivity activity in ViewBag.allActivities)
                    {
                        <option value="@activity.Name">@activity.Name</option>
                    }
                }
            </select>
        </div>

        @* <div class="mb-3">
            <label asp-for="GameActivity"></label>
            <span asp-validation-for="GameActivity" class="text-danger font-weight-bold"></span>
            <select class="form-control" asp-for="GameActivity">
                <option value="Raid">Raid</option>
                <option value="Public Event">Public Event</option>
            </select>
        </div> *@

        <div class="mb-3">
            <label asp-for="PlayersOnTeam"></label>
            <span asp-validation-for="PlayersOnTeam" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="PlayersOnTeam">
        </div>

        <div class="mb-3">
            <label asp-for="MaxPlayersOnTeam"></label>
            <span asp-validation-for="MaxPlayersOnTeam" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="MaxPlayersOnTeam">
        </div>

        <div class="mb-3">
            <label asp-for="Platform"></label>
            <span asp-validation-for="Platform" class="text-danger font-weight-bold"></span>
            <select class="form-control" asp-for="Platform">
                <option value="PC">PC</option>
                <option value="PS4">PS4</option>
                <option value="Xbox">Xbox One</option>
                <option value="PS5">PS5</option>
                <option value="PS3">PS3</option>
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="Language"></label>
            <span asp-validation-for="Language" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="Language">
        </div>

        <div class="mb-3">
            <label asp-for="GroupType"></label>
            <span asp-validation-for="GroupType" class="text-danger font-weight-bold"></span>
            <select class="form-control" asp-for="GroupType">
                <option value="LFG">LFG</option>
                <option value="LFM">LFM</option>
            </select>
        </div>

        <div class="mb-3">
            <label asp-for="MinLevel"></label>
            <span asp-validation-for="MinLevel" class="text-danger font-weight-bold"></span>
            <input class="form-control" asp-for="MinLevel">
        </div>

        <div class="mb-3">
            <label asp-for="Description"></label>
            <span asp-validation-for="Description" class="text-danger font-weight-bold"></span>
            <textarea class="form-control" asp-for="Description"></textarea>
        </div>

        <button class="btn btn-success">Submit</button>
    </form>

</div>