<div class="container">


    <div class="card shadow bg-dark mb-3">
        <img src="~/assets/titlebarnew.png" class="card-img-top" alt="titlebarnew" />
        <div class="card-body">
            <h5 class="card-title">Welcome to LFGHub</h5>
            <p class="card-text">LFGHub is quick and easy to use LFG community to find groups/players for any in game activity. Please register or sign in to continue to the main website. The LFGHub Forums are currently under construction but will be coming soon!</p>
            <p class="card-text">This is a live demo of LFGHub. If you would like to skip sign in and test the application with the demo guest account you may click the link below labeled "Guest Account." If you wish to test the administrator account functionality you may click the link below labeled "Admin Account" to be logged into the admin account.</p>
            <p class="card-text"><small class="text-muted"></small></p>
            <div class="card-footer">
                <div class="d-flex justify-content-between">
                    <small class="text-muted">Please sign in to continue. You may register and login below or use one of the preset accounts to the right.</small>
                    <small class="text-muted"><a asp-area="" asp-controller="User" asp-action="LoginGuest">Guest Account</a>
                       -   <a asp-area="" asp-controller="User" asp-action="LoginAdmin">Admin Account</a></small>
                </div>
            </div>
        </div>
    </div>
</div>